extends layout

block content
  .row
    .col-xs-4
      h4
        = page.metadata.address.first
      h4
        = page.metadata.address.second
    .col-xs-4.text-center
      h1
        = page.metadata.name
      p
        a(href='mailto:' + page.metadata.email + '?Subject=Hello', target='_top') 
          = page.metadata.email
    .col-xs-4
      .pull-right
        h4
          a(href=page.metadata.website.address, target='_blank')
            = page.metadata.website.name
        each network in page.metadata.social_networks
          a.social(href=network.link, target='_blank')
            i(class='fa fa-'+ network.name)

  each section in page.metadata.contents
    hr
    .row
      .col-xs-12
        h2
          | !{ typogr(section.name).typogrify() }
        each thing in section.list
          .resume-section
            .row
              if section.layout && section.layout == '2columns'
                .col-xs-4
                  h3
                    = thing.name
                .col-xs-8
                  | !{ typogr(markdown.markdown.toHTML(thing.description)).typogrify() }
              else
                .col-xs-6
                  h3
                    = thing.name
                  if thing.title
                    p
                      b
                        = thing.title
                .col-xs-3
                  .pull-right
                    p
                      em
                        = thing.where
                .col-xs-3
                  .pull-right
                    p
                      if thing.start
                        b
                          = thing.start
                      if thing.end
                        b
                          | &nbsp;-&nbsp;
                        b
                          = thing.end
                .col-xs-12
                  | !{ typogr(markdown.markdown.toHTML(thing.description)).typogrify() }
