extends layout

block content
  .row.header
    .col-xs-3.header-side
      h4
        = page.metadata.address.first
      h4
        = page.metadata.address.second
      h4
        i.fa.fa-phone
        | &nbsp;&nbsp;
        = page.metadata.cellphone
    .col-xs-6.text-center.header-center
      h1
        = page.metadata.name
      p
        strong
          a(href='mailto:' + page.metadata.email + '?Subject=Hello', target='_top') 
            = page.metadata.email
      p
        strong
          a(href=page.metadata.website.address, target='_blank')
            = page.metadata.website.name
    .col-xs-3.header-side
      .pull-right
        h4.print-hidden
          a(href=page.metadata.pdf_link, target='_blank')
            i.fa.fa-file-pdf-o
            | &nbsp;download as pdf
        .social-networks
          each network in page.metadata.social_networks
            a.social(href=network.link, target='_blank')
              i(class='fa fa-'+ network.name)

  each section in page.metadata.contents
    .row
      .col-xs-12(id=slug(section.name))
        h2
          strong
            | !{ typogr(section.name).typogrify() }
        each thing in section.list
          .resume-section
            .row
              if section.layout && section.layout == '2columns'
                .col-xs-4
                  h3
                    = thing.name
                .col-xs-8
                  | !{ typogr(marked(thing.description)).typogrify() }
              else
                .what.col-xs-8
                  h3
                    = thing.name
                    if thing.link
                      a(href=thing.link, target='_blank')
                        i.fa.fa-external-link
                  if thing.title
                    p
                      b
                        = thing.title
                .where.col-xs-2
                  .pull-right
                    p
                      em
                        = thing.where
                .when.col-xs-2
                  .pull-right
                    p
                      if thing.start
                        b
                          = thing.start
                      if thing.end
                        b
                          | &nbsp;-&nbsp;
                        b
                          = thing.end
                if thing.description
                  .col-xs-12
                    | !{ typogr(marked(thing.description)).typogrify() }
